



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.login-container {
    width: 100%;
    max-width: 700px; 
    padding: 20px;
}

.login-box {
    background-color: #fff;
    padding: 70px 30px; 
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    overflow: hidden;
    border: 5px solid transparent; 
    background-clip: padding-box; 
}


.login-box h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #3a6186;
    font-weight: bold;
}

.input-box {
    position: relative;
    margin-bottom: 40px; 
}

.input-box input {
    width: 100%;
    padding: 15px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.05);
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    color: #333;
    transition: border 0.3s ease, background 0.3s ease;
}

.input-box input:focus {
    border-color: #3a6186;
    background-color: #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #aaa;
    transform: translateY(-50%);
    transition: 0.3s;
    pointer-events: none;
    font-size: 1rem;
}

.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label {
    top: -12px;
    left: 2px;
    color: #3a6186;
    font-size: 1.2rem;
    background: #fff;
    padding: 0 5px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
    color: #fff;
    background: linear-gradient(135deg, #89253e, #3a6186);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, #3a6186, #89253e);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

#error-message {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #e74c3c;
    display: none;
}

.change-password {
    margin-top: 25px;
}

.change-password a {
    font-size: 0.9rem;
    color: #3a6186;
    text-decoration: none;
    transition: color 0.3s ease;
}

.change-password a:hover {
    color: #89253e;
}

.change-password a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3a6186;
    transition: width 0.3s;
}

.change-password a:hover::after {
    width: 100%;
}



